@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  font-family: "Google Sans Code", monospace;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "aside main"
    "aside footer";
  min-height: 100vh;
}

@media only screen and (max-width: 800px) {
  .page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* flexible rows */
    grid-template-areas:
      "aside"
      "main"
      "footer";
  }
}

header,
aside,
main,
footer {
  padding: 1rem 2rem;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: whitesmoke;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to bottom right, #f9f9f9, #eaeaea);
}

footer {
  grid-area: footer;
}

.logo {
  display: flex;
  justify-content: center;
}

#book-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#book-form label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

#book-form input {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.submit-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/books-bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: 0;
}

.card.active {
  padding: 1rem;
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  position: relative;
  overflow: hidden;
}

.card.active > * {
  position: relative;
  z-index: 1;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  font-size: 1.3rem;
}

.remove-book-container {
  display: flex;
  justify-content: flex-end;
}

.status {
  display: flex;
  gap: 1rem;
}
